<!DOCTYPE html>
<html lang="en">
{{>headers}}
<body>
    {{>navbar}}
    <h1 class="trade-header" id="trade-header">{{name}}</h1>
     <hr>
    <div class="root-container card-container normal" id="root-container">
    <div class="card" style="width: 18rem;">
  <img src="../img/img.jpg" class="card-img-top" alt="...">
</div>
    <div class="card" style="width: 18rem;">
  <img src="../img/img.jpg" class="card-img-top" alt="...">
</div>
    <div class="card" style="width: 18rem;">
  <img src="../img/img.jpg" class="card-img-top" alt="...">
</div>
    <div class="card" style="width: 18rem;">
  <img src="../img/img.jpg" class="card-img-top" alt="...">
</div>
    <div class="card" style="width: 18rem;">
  <img src="../img/img.jpg" class="card-img-top" alt="...">
</div>
    <div class="card" style="width: 18rem;">
  <img src="../img/img.jpg" class="card-img-top" alt="...">
</div>
    <div class="card" style="width: 18rem;">
  <img src="../img/img.jpg" class="card-img-top" alt="...">
</div>
    </div>

  <script src="../js/main.js"></script>
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"
></script>
</body>
</html>