<!DOCTYPE html>
<html lang="en">
{{>headers}}
<body>
    {{>adminnavbar}}
     <h3 class="trade-header" id="trade-header">Books</h3>
     <hr>
    <div class="root-container card-container normal" id="root-container">
    {{#each book}}
     <div class="card" style="width: 18rem;">
  <img src="../img/img5.jpg" class="card-img-top" alt="Sunset Over the Sea"/>
  <div class="card-body">
      <h2 class="book-title">{{this.bookname}}</h2>
      <h4>{{this.authorname}}</h4>
      <h4>{{this.sub}}</h4>
  </div>
</div>
     {{/each}}
    </div>

  <script src="../js/main.js"></script>
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"
></script>
</body>
</html>