<!DOCTYPE html>
<html lang="en">
{{>headers}}
<body>
    {{>navbar}}
     <h1 class="trade-header" id="trade-header">{{name}}</h1>
     <hr>
    <div class="root-container card-container normal" id="root-container">
   <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">SEM</th>
      <th scope="col">DOWNLOAD</th>
    </tr>
  </thead>
  <tbody>
      {{#if bool}}
        <tr>
      <th scope="row">1</th>
      <td><a href=""><i class="fa-solid fa-download"></i>
      </a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href=""><i class="fa-solid fa-download"></i>
      </a></td>
    </tr>
    {{else}}

    <tr>
      <th scope="row">1</th>
      <td><a href=""><i class="fa-solid fa-download"></i>
      </a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href=""><i class="fa-solid fa-download"></i>
      </a></td>
    </tr><tr>
      <th scope="row">3</th>
      <td><a href=""><i class="fa-solid fa-download"></i>
      </a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><a href=""><i class="fa-solid fa-download"></i>
      </a></td>
    </tr><tr>
      <th scope="row">5</th>
      <td><a href=""><i class="fa-solid fa-download"></i>
      </a></td>
    </tr><tr>
      <th scope="row">6</th>
      <td><a href=""><i class="fa-solid fa-download"></i>
      </a></td>
    </tr>
    {{/if}}
  </tbody>
</table>

    </div>

  <script src="../js/main.js"></script>
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"
></script>
</body>
</html>